.navbar-nav li a {
	color: #ec971f;
}

.navbar-brand {
	color: #ec971f !important;
}

.nav a {
	color: #ec971f !important;
}

.nav a:hover {
	color: #FFFFFF !important;
}

.panel-warning .panel-heading {
	background-color: #f0ad4e;
	border-color: #E08C14;
	color: #FFFFFF !important;
}

.panel-warning {
    border-color: #E08C14;
}

#deleteButton .btn-warning:hover {
	background-color: #c9302c;
	border: 1px solid #ac2925;
}

.delete-round {
	text-align: right;
}

.green {
	color: #39CC54;
}

.blue {
	color: #A6D0F5;
}

.black {
	color: #000000;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #ec971f;
}

.activity-feed tr td a {
	color: #000000;
	text-decoration: none;
}

.activity-feed tr td a:hover {
	color: #ec971f;
}

.activity-time {
	text-align: right;
	font-size: 9pt;
	font-color: #DDDDDD;
	font-style: italic;
}

.index-icon {
	font-size: 106pt;
	color: #f0ad4e;
}

.img-shadow {
  -moz-box-shadow:    1px 2px 8px 2px #ccc;
  -webkit-box-shadow: 1px 2px 8px 2px #ccc;
  box-shadow:         1px 2px 8px 2px #ccc;
}

.img-half {
	width: 85%;
	height: auto;
}

.img-fill {
	width: 100%;
	height: auto;
}

.about-row {
	margin-top: 20px;
	margin-bottom: 20px;
}

.row-center {
	vertical-align: middle;
}

/* Gradient transparent - color - transparent */
		
hr.style-two {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

.above-panel li a {
	color: #E08C14;
}

.above-panel li a:hover {
	color: #777777;
	text-decoration: none;
}

.scrollup {
	width: 40px;
	height: 40px;
	display: none;
	color: #ec971f;
	text-decoration: none;
	text-align: center;
	font-size: 24pt;
}

.scrollup:hover {
	color: #fff !important;
	text-decoration: none;
}

#scroll-message {
	font-size: 10pt;
	color: #aaa;
}

#inifiniteLoader {
	color: #f0ad4e;
	display: none;
}

#x-logo {
	font-family: 'Faster One', cursive;
	font-size: 30pt;
}

#archery-logo {
	font-family: 'Economica', sans-serif;
	font-size: 18pt;
}

@media (max-width: 768px) {
  #x-logo {
    font-size: 24pt;
  }
}

@media (max-width: 768px) {
  #archery-logo {
    font-size: 16pt;
  }
}
