.navbar-nav li a {
	color: #ec971f;
}

.navbar-brand {
	color: #ec971f !important;
}

.nav a {
	color: #ec971f !important;
}

.nav a:hover {
	color: #FFFFFF !important;
}

.panel-warning .panel-heading {
	background-color: #ec971f;
	color: #FFFFFF !important;
}

.panel-warning {
    border-color: #D4820F;
}

#deleteButton .btn-warning:hover {
	background-color: #c9302c;
	border: 1px solid #ac2925;
}

.gold {
	color: #FFDB4A;
}

.blue {
	color: #A6D0F5;
}

.black {
	color: #000000;
}

.activity-feed tr td a {
	color: #000000;
	text-decoration: none;
}

.activity-feed tr td a:hover {
	color: #ec971f;
}

.activity-time {
	text-align: right;
	font-size: 9pt;
	font-color: #DDDDDD;
	font-style: italic;
}

