@(u: User, endForm: Form[Round])

@template(u.firstname + ": Add entire round") {

	<div class="col-lg-8 col-lg-offset-2">
		<div class="panel panel-warning">
		    <div class="panel-heading text-center"><h3>Add entire round</h3></div>
		   	<div class="panel-body text-center">
		   		<form action="@routes.Application.submitDesktop(u.id)" method="POST">
		   			<div class="form-group">
				   		<label for"desc"><h4>Round description</h4></label>
				   		<p>Practice, National Indoors 2013, Recurve, Compound, etc.</p>
				   		<input type="text" id="desc" class="form-control input-lg" name="description" required autofocus/>
				   	</div><br />

				   	<h4>Enter arrow scores</h4>

				   		<table class="table table-striped">
				   			<tr class="warning table-bordered">
				   				<th class="col-sm-2" style="text-align: center;">End</th>
				   				<th class="col-sm-2" style="text-align: center;">Arrow 1</th>
				   				<th class="col-sm-2" style="text-align: center;">Arrow 2</th>
				   				<th class="col-sm-2" style="text-align: center;">Arrow 3</th>
				   			</tr>

				   			@for(a <- 1 to 10) {
				   				<tr>
				   				<td>@a</td>
				   				<td>
				   					<select class="form-control" name="rawEnds[@(3*a-3)]">
									    <option value="m">miss</option>
									    <option value="1">1</option>
									    <option value="2">2</option>
									    <option value="3">3</option>
									    <option value="4">4</option>
									    <option value="5">5</option>
									    <option value="6">6</option>
									    <option value="7">7</option>
									    <option value="8">8</option>
									    <option value="9">9</option>
									    <option value="10">10</option>
									    <option value="X" selected>X</option>
									</select>
								</td>
								<td>
				   					<select class="form-control" name="rawEnds[@(3*a-2)]">
									    <option value="m">miss</option>
									    <option value="1">1</option>
									    <option value="2">2</option>
									    <option value="3">3</option>
									    <option value="4">4</option>
									    <option value="5">5</option>
									    <option value="6">6</option>
									    <option value="7">7</option>
									    <option value="8">8</option>
									    <option value="9">9</option>
									    <option value="10">10</option>
									    <option value="X" selected>X</option>
									</select>
								</td>
								<td>
				   					<select class="form-control" name="rawEnds[@(3*a-1)]">
									    <option value="m">miss</option>
									    <option value="1">1</option>
									    <option value="2">2</option>
									    <option value="3">3</option>
									    <option value="4">4</option>
									    <option value="5">5</option>
									    <option value="6">6</option>
									    <option value="7">7</option>
									    <option value="8">8</option>
									    <option value="9">9</option>
									    <option value="10">10</option>
									    <option value="X" selected>X</option>
									</select>
								</td>
				   			</tr>
				   			}

				   		</table>

				   		<div class="form-group">
				   			<input type="submit" class="btn btn-warning" value="Submit Round" />
				   		</div>
	            	
		   		</form>

		   	</div>
	   	</div>
	</div>





}