@(u: User, roundid: Int, endForm: Form[End], end: Int, curScore: Int)

@template("New Round: End " + end) {
    <li><a href="@routes.Application.dashboard()"><span class="glyphicon glyphicon-user"></span> @u.firstname</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-cog"></span> Account</a></li>
    <li><a href="@routes.Application.logout()"><span class="glyphicon glyphicon-off"></span> Log out</a></li>
} {

<div class="col-lg-8 col-lg-offset-2">
    <div class="panel panel-warning">
        <div class="panel-heading text-center"><h3>End #@end</h3></div>
       	<div class="panel-body text-center">
       	    <form class="form-inline" action="@routes.Application.submit(roundid, end)" method="POST">

                @for(a <- 1 to 3) {
                    <div class="form-group" style="margin: 15px;">
                        <h4>Arrow #@a</h4>
                        <div data-toggle="buttons" style="margin-bottom: 5px;">
                            <label class="btn btn-default btn-lg"><input type="radio" name="a@a" value="m">m</label>

                            @for(num <- 1 to 10) {
                                <label class="btn btn-default btn-lg"><input type="radio" name="a@a" value="@num">@num</label>
                            }

                            <label class="btn btn-default btn-lg active"><input type="radio" name="a@a" value="X" checked>X</label>
                        </div>
                    </div>
                }

                <h4 style="text-align: center">Current Total: @curScore / @((end - 1) * 30)</h4>
                <!-- need spacing here -->
                <div class="panel panel-footer text-center"><input type="submit" class="btn btn-warning" value="Submit End" />
                </div>
            </form>
        </div>
    </div>
</div>
}