@(u: User, roundid: Int, endForm: Form[End], end: Int)

@template(u.firstname + ": End " + end) {
<div class="col-lg-8 col-lg-offset-2 panel panel-warning">
    <div class="panel panel-header text-center"><h3>End #@end</h3></div>
    <!--
   	  <div class="form-group">
   	  <select name="a1" class="form-control">
        <option value="m">miss</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="x">X</option>
      </select>
      </div>
      
      <div class="form-group">
      <select name="a2" class="form-control">
        <option value="m">miss</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="x">X</option>
      </select>
      </div>
      
      <div class="form-group">
      <select name="a3" class="form-control">
        <option value="m">miss</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="x">X</option>
      </select>
      </div>
   	  
   	  <input type="submit" class="btn btn-warning" value="Submit end" style="margin-top: 5px;"/>
   	  
   	</form>-->
   	<div class="panel-body text-center">
   	<form class="form-inline" action="@routes.Application.submit(u.id, roundid, end)" method="POST">
   	  <div class="form-group" style="margin: 15px;">
   	  <h4>arrow 1</h4>
   	  <div data-toggle="buttons" style="margin-bottom: 5px;">
         <label class="btn btn-default btn-lg"><input type="radio" name="a1" value="m">miss</label>
         <label class="btn btn-default btn-lg"><input type="radio" name="a1" value="1">1</label>
         <label class="btn btn-default btn-lg"><input type="radio" name="a1" value="2">2</label>
         <label class="btn btn-default btn-lg"><input type="radio" name="a1" value="3">3</label>
         <label class="btn btn-default btn-lg"><input type="radio" name="a1" value="4">4</label>
         <label class="btn btn-default btn-lg"><input type="radio" name="a1" value="5">5</label>
         <label class="btn btn-default btn-lg"><input type="radio" name="a1" value="6">6</label>
         <label class="btn btn-default btn-lg"><input type="radio" name="a1" value="7">7</label>
         <label class="btn btn-default btn-lg"><input type="radio" name="a1" value="8">8</label>
         <label class="btn btn-default btn-lg"><input type="radio" name="a1" value="9">9</label>
         <label class="btn btn-default btn-lg"><input type="radio" name="a1" value="10">10</label>
         <label class="btn btn-default btn-lg active"><input type="radio" name="a1" value="X" checked>X</label>
      </div>
      
    </div>
      
      <div class="form-group" style="margin: 15px;">
      <h4>arrow 2</h4>
      <div data-toggle="buttons" style="margin-bottom: 5px;">
         <label class="btn btn-default btn-lg"><input type="radio" name="a2" value="m">miss</label>
         <label class="btn btn-default btn-lg"><input type="radio" name="a2" value="1">1</label>
         <label class="btn btn-default btn-lg"><input type="radio" name="a2" value="2">2</label>
         <label class="btn btn-default btn-lg"><input type="radio" name="a2" value="3">3</label>
         <label class="btn btn-default btn-lg"><input type="radio" name="a2" value="4">4</label>
         <label class="btn btn-default btn-lg"><input type="radio" name="a2" value="5">5</label>
         <label class="btn btn-default btn-lg"><input type="radio" name="a2" value="6">6</label>
         <label class="btn btn-default btn-lg"><input type="radio" name="a2" value="7">7</label>
         <label class="btn btn-default btn-lg"><input type="radio" name="a2" value="8">8</label>
         <label class="btn btn-default btn-lg"><input type="radio" name="a2" value="9">9</label>
         <label class="btn btn-default btn-lg"><input type="radio" name="a2" value="10">10</label>
         <label class="btn btn-default btn-lg active"><input type="radio" name="a2" value="X" checked>X</label>
      </div>
      </div>
      
      
      <div class="form-group" style="margin: 15px;">
      <h4>arrow 3</h4>
      <div data-toggle="buttons" style="margin-bottom: 5px;">
         <label class="btn btn-default btn-lg"><input type="radio" name="a3" value="m">miss</label>
         <label class="btn btn-default btn-lg"><input type="radio" name="a3" value="1">1</label>
         <label class="btn btn-default btn-lg"><input type="radio" name="a3" value="2">2</label>
         <label class="btn btn-default btn-lg"><input type="radio" name="a3" value="3">3</label>
         <label class="btn btn-default btn-lg"><input type="radio" name="a3" value="4">4</label>
         <label class="btn btn-default btn-lg"><input type="radio" name="a3" value="5">5</label>
         <label class="btn btn-default btn-lg"><input type="radio" name="a3" value="6">6</label>
         <label class="btn btn-default btn-lg"><input type="radio" name="a3" value="7">7</label>
         <label class="btn btn-default btn-lg"><input type="radio" name="a3" value="8">8</label>
         <label class="btn btn-default btn-lg"><input type="radio" name="a3" value="9">9</label>
         <label class="btn btn-default btn-lg"><input type="radio" name="a3" value="10">10</label>
         <label class="btn btn-default btn-lg active"><input type="radio" name="a3" value="X" checked>X</label>
      </div>
      </div>
      
   	  </div>
   	  <div class="panel panel-footer text-center"><input type="submit" class="btn btn-warning" value="Submit this end" /></div>
   	  </div>
   	  
   	  
   	</form>
   	</div>
</div>
}