@(u: User, endForm: Form[Round])

@template("New Completed Round") {
    <li><a href="@routes.Application.dashboard()"><span class="glyphicon glyphicon-user"></span> @u.firstname</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-cog"></span> Account</a></li>
    <li><a href="@routes.Application.logout()"><span class="glyphicon glyphicon-off"></span> Log out</a></li>
} {

	<div class="col-lg-8 col-lg-offset-2">
		<ol class="breadcrumb above-panel">
          <li><a href="../dashboard">Dashboard</a></li>
          <li class="active">Enter Round</li>
        </ol>

		<div class="panel panel-warning">
		    <div class="panel-heading text-center"><h3>Add entire round</h3></div>
		   	<div class="panel-body text-center">
		   		<form action="@routes.Application.submitDesktop(u.id)" method="POST">
		   			<div class="form-group">
				   		<label for"desc"><h4>Round description</h4></label>
				   		<input type="text" id="desc" class="form-control" name="description" placeholder="ex: Practice, National Indoors 2013, Recurve, Compound, etc." required autofocus/>
				   	</div><br />

				   	<h4>Enter arrow scores</h4>

				   		<table class="table table-striped">
				   			<tr class="warning table-bordered">
				   				<th class="col-sm-2 text-center">End</th>
				   				<th class="col-sm-2 text-center">Arrow 1</th>
				   				<th class="col-sm-2 text-center">Arrow 2</th>
				   				<th class="col-sm-2 text-center">Arrow 3</th>
				   			</tr>

				   			@for(a <- 1 to 10) {
				   				<tr>
				   					<td>@a</td>

					   				@for(e <- 3 to 1 by -1) {
					   					<td>
						   					<select class="form-control" name="rawEnds[@(3*a-e)]">
											    <option value="m">miss</option>
											    @for(v <- 1 to 10) {
											    	<option value="@v">@v</option>
											    }
											    <option value="X" selected>X</option>
											</select>
										</td>
					   				}

				   			</tr>
				   			}

				   		</table>

				   		<div class="form-group">
				   			<input type="submit" class="btn btn-warning" value="Submit Round" />
				   		</div>
	            	
		   		</form>

		   	</div>
	   	</div>
	</div>
}