@(u: User, roundid: Int, endForm: Form[End], end: Int, curScore: Int)

@template(u.firstname + ": End " + end) {
    <li><a href="#">Account</a></li>
    <li><a href="@routes.Application.logout()">Logout</a></li>
} {

<div class="col-lg-8 col-lg-offset-2">
    <div class="panel panel-warning">
        <div class="panel-heading text-center"><h3>End #@end</h3></div>
       	<div class="panel-body text-center">
       	    <form class="form-inline" action="@routes.Application.submit(roundid, end)" method="POST">
                <div class="form-group" style="margin: 15px;">
                    <h4>Arrow #1</h4>
       	            <div data-toggle="buttons" style="margin-bottom: 5px;">
                        <label class="btn btn-default btn-lg"><input type="radio" name="a1" value="m">m</label>

                        @for(num <- 1 to 10) {
                            <label class="btn btn-default btn-lg"><input type="radio" name="a1" value="@num">@num</label>
                        }

                        <label class="btn btn-default btn-lg active"><input type="radio" name="a1" value="X" checked>X</label>
                    </div>
                </div>
                <div class="form-group" style="margin: 15px;">
                    <h4>Arrow #2</h4>
                    <div data-toggle="buttons" style="margin-bottom: 5px;">
                        <label class="btn btn-default btn-lg"><input type="radio" name="a2" value="m">m</label>

                        @for(num <- 1 to 10) {
                            <label class="btn btn-default btn-lg"><input type="radio" name="a2" value="@num">@num</label>
                        }

                        <label class="btn btn-default btn-lg active"><input type="radio" name="a2" value="X" checked>X</label>
                    </div>
                </div>
                <div class="form-group" style="margin: 15px;">
                    <h4>Arrow #3</h4>
                    <div data-toggle="buttons" style="margin-bottom: 5px;">
                        <label class="btn btn-default btn-lg"><input type="radio" name="a3" value="m">m</label>

                        @for(num <- 1 to 10) {
                            <label class="btn btn-default btn-lg"><input type="radio" name="a3" value="@num">@num</label>
                        }
                        
                        <label class="btn btn-default btn-lg active"><input type="radio" name="a3" value="X" checked>X</label>
                    </div>
                </div>
                <h4 style="text-align: center">Current Total: @curScore / @((end - 1) * 30)</h4>
                <!-- need spacing here -->
                <div class="panel panel-footer text-center"><input type="submit" class="btn btn-warning" value="Submit End" />
                </div>
            </form>
        </div>
    </div>
</div>
}