@(u: User, r: Int, ends: List[End], desc: String, date: String, endForm: Form[Round])

@template("View Round") {
    <li><a href="@routes.Application.dashboard()"><span class="glyphicon glyphicon-user"></span> @u.firstname</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-cog"></span> Account</a></li>
    <li><a href="@routes.Application.logout()"><span class="glyphicon glyphicon-off"></span> Log out</a></li>
} {

    <div class="col-lg-8 col-lg-offset-2">
        <ol class="breadcrumb above-panel">
          <li><a href="@routes.Application.dashboard()">Dashboard</a></li>
          <li><a href="@routes.Application.roundsList()">Rounds</a></li>
          <li class="active">View Round</li>
        </ol>

        <div class="panel panel-warning">
            <div class="panel-heading">
                <h2>@desc</h2>
                <h4>@date</h4>
            </div>

            <div class="panel-body">
				<form action="@routes.Application.submitEdit(r)" method="POST">
                		<table class="table table-striped">
                		    <tr class="warning">
                		        <th class="col-md-1 text-center" style="border-right: 1px solid #dddddd;">End #</th>
                		        <th class="col-md-2 text-center">Arrow 1</th>
                		        <th class="col-md-2 text-center">Arrow 2</th>
                		        <th class="col-md-2 text-center">Arrow 3</th>
                		    </tr>
							@for(e <- ends) {
				   				<tr>
									<td>@e.endNumber</td>
									<td>
										<div class="form-group">
                  							<input type="rawEnds[@(3*e.endNumber-3)]" class="form-control" name="rawEnds[@(3*e.endNumber-3)]" value="@e.a1" />
                							</div>
									</td>
									<td>
										<div class="form-group">
                  							<input type="rawEnds[@(3*e.endNumber-2)]" class="form-control" name="rawEnds[@(3*e.endNumber-2)]" value="@e.a2" />
                							</div>
									</td>
									<td>
										<div class="form-group">
					                			<input type="rawEnds[@(3*e.endNumber-1)]" class="form-control" name="rawEnds[@(3*e.endNumber-1)]" value="@e.a3" />
                							</div>				   					
									</td>
							  }							

					</table>
			
					<div class="form-group">
				   		<input type="submit" class="btn btn-warning" value="Submit Round" />
				 	</div>

				</form>
            </div>
        </div>
    </div>
}
