@(u: User)

@template("Error") {
    <li><a href="@routes.Application.dashboard()"><span class="glyphicon glyphicon-user"></span> @u.firstname</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-cog"></span> Account</a></li>
    <li><a href="@routes.Application.logout()"><span class="glyphicon glyphicon-off"></span> Log out</a></li>
} {
    <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h2>Error</h2>
            </div>

            <div class="panel-body">
                <p>Uh oh, it doesn't look like you have access to this page.</p>
            </div>

            <div class="panel-footer text-right">
                <a href="/" class="btn btn-warning">Home</a>
            </div>
        </div>
    </div>
}