@(userForm: Form[User])

@maintemplate("Triple X Archery: Digital Scoring Notebook") {
  <div class="row">
    <div class="col-lg-12">
      <div class="container text-center">
        <h3 style="margin-top: -2px; margin-bottom: 40px;">All arrows, one place.</h3>
      </div>
    </div>
  </div>
      
  <div class="row text-center">
        <div class="col-sm-6 col-sm-3">
            <div class="thumbnail" style="border: none;">
                <span class="glyphicon glyphicon-list-alt index-icon"></span>
                <div class="caption">
                    <h4>Archers</h4>
                    <p>Record and access your scores via desktop or mobile device.</p>
                </div>
            </div>
        </div>
        
        <div class="col-sm-6 col-sm-3">
            <div class="thumbnail" style="border: none;">
                <i class="fa fa-users index-icon"></i>
                <div class="caption">
                    <h4>Network</h4>
                    <p>See the accomplishments of your friends via an activity feed.</p>
                </div>
            </div>
        </div>
        
        <div class="col-sm-6 col-sm-3">
            <div class="thumbnail" style="border: none;">
                <span class="glyphicon glyphicon-stats index-icon"></span>
                <div class="caption">
                    <h4>Data</h4>
                    <p>Watch your improvements and trends plotted over time.</p>
                </div>
            </div>
        </div>
        
        <div class="col-sm-6 col-sm-3">
            <div class="thumbnail" style="border: none;">
                <span class="glyphicon glyphicon-print index-icon"></span>
                <div class="caption">
                    <h4>Print</h4>
                    <p>Get your complete score profile in your hands in one click.</p>
                </div>
            </div>
        </div>
    </div>
}


