@(userForm: Form[User])

@maintemplate("Triple X Archery: Digital Scoring Notebook") {
  <div class="row">
    <div class="col-lg-12">
      <div class="container text-center">
        <h3 style="margin-top: -1px;margin-bottom: 10px;">All arrows, one place.</h3>
      </div>
    </div>
  </div>
      
  <div class="row text-center">
        <div class="col-sm-6 col-sm-3">
            <div class="thumbnail" style="border: none;">
                <img src="@routes.Assets.at("images/target.png")" style="margin-bottom: -15px;">
                <div class="caption">
                    <h4>Archers</h4>
                    <p>Record and access
                your scores via desktop or mobile device.</p>
                </div>
            </div>
        </div>
        
        <div class="col-sm-6 col-sm-3">
            <div class="thumbnail" style="border: none;">
                <img src="@routes.Assets.at("images/clipboard.png")" style="margin-bottom: -15px;">
                <div class="caption">
                    <h4>Coaches</h4>
                    <p>Get automatic progress reports on all your athletes.</p>
                </div>
            </div>
        </div>
        
        <div class="col-sm-6 col-sm-3">
            <div class="thumbnail" style="border: none;">
                <img src="@routes.Assets.at("images/graph.png")" style="margin-bottom: -15px;">
                <div class="caption">
                    <h4>Data</h4>
                    <p>See your improvements and trends plotted over time.</p>
                </div>
            </div>
        </div>
        
        <div class="col-sm-6 col-sm-3">
            <div class="thumbnail" style="border: none;">
                <img src="@routes.Assets.at("images/printer.png")" style="margin-bottom: -15px;">
                <div class="caption">
                    <h4>Print</h4>
                    <p>Get your complete scoresheet in one click.</p>
                </div>
            </div>
        </div>
    </div>
}


