@(f: Form[User], message: String)

@template("Log In") {
<li><a href="@routes.Application.learnMore()">About</a></li>
        <li><a href="@routes.Application.register()">Register</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Login <b class="caret"></b></a>
          <div class="dropdown-menu" style="padding: 10px;">
            <form action="@routes.Application.login()" method="POST" id="login">
                <div class="form-group">
                  <input type="email" class="form-control" name="email" placeholder="Email" />
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" name="password" placeholder="Password" />
                </div>
                <input type="submit" class="btn btn-warning" value="Sign in" />
            </form>
          </div>
        </li>
} {
    <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-warning">
            <div class="panel-heading"><h3>Log in</h3></div>
                <div class="panel-body">
                    @if(!message.isEmpty()) {
                        <p class="alert alert-danger">@message</p>
                    }
                    <form action="@routes.Application.login()" method="POST">
   					    <div class="form-group">
   						    <input type="email" class="form-control" name="email" placeholder="Email" value="@f("email").value"/>
   					    </div>
   					    <div class="form-group">
   						    <input type="password" class="form-control" name="password" placeholder="Password" />
   					    </div>
   					    <input type="submit" class="btn btn-warning" value="Sign in" />
   					</form>
                </div>
            </div>
        </div>
    </div>
}