@maintemplate("About | Triple X Archery") {

  <div class="row about-row" style="margin-top: 0;">
    <div class="col-md-5 col-md-offset-2">
      <div class="panel text-center">
        <div class="panel-heading">
          <h1>Never forget your scores</h1>
        </div>
        <div class="panel-body">
        <h4>TripleX is optimized for mobile access.</h4>
          <p>Use its simple interface to manage your archery scores while you're shooting.</p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="panel text-center">
        <img class="img-shadow img-half" src="@routes.Assets.at("images/mobileviewss.png")">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <hr class="style-two" />
    </div>
  </div>

  <div class="row about-row">
    <div class="col-md-3 col-md-offset-2">
      <div class="panel text-center">
        <img class="img-shadow img-half" src="@routes.Assets.at("images/endbyendss.png")">
      </div>
    </div>

    <div class="col-md-5">
      <div class="panel text-center">
        <div class="panel-heading">
          <h2>Shoot an end,<br />submit your score</h2>
        </div>
        <div class="panel-body">
          <p>The <b>End-by-End</b> entry option is designed with mobile access in mind.</p>

          <p>Take 5 seconds to enter scores after each end, and view them all after the round is over.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <hr class="style-two" />
    </div>
  </div>

  <div class="row about-row">
    <div class="col-md-4 col-md-offset-2">
      <div class="panel text-center">
        <div class="panel-heading">
          <h2>Or import your existing scores</h2>
        </div>
        <div class="panel-body">
          <p>Use the <b>Completed Round</b> entry option to record round scores after the fact.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel text-center">
        <img class="img-shadow img-fill" src="@routes.Assets.at("images/completedroundss.png")">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <hr class="style-two" />
    </div>
  </div>

  <div class="row about-row">
    <div class="col-md-4 col-md-offset-2">
      <div class="panel text-center">
        <img class="img-shadow img-fill" src="@routes.Assets.at("images/viewroundss.png")">
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel text-center">
        <div class="panel-heading">
          <h2>View your scores</h2>
        </div>
        <div class="panel-body">
          <p>Review each round in detail on an easy-to-read score sheet.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <hr class="style-two" />
    </div>
  </div>

  <div class="row about-row">
    <div class="col-md-4 col-md-offset-2">
      <div class="panel text-center">
        <div class="panel-heading">
          <h2>Add your friends</h2>
        </div>
        <div class="panel-body">
          <p>Receive updates on your friends' latest accomplishments.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel text-center">
        <img class="img-shadow img-fill" src="@routes.Assets.at("images/activityfeedss.png")">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <hr class="style-two" />
    </div>
  </div>

  <div class="row text-center about-row">
    <div class="col-md-6 col-md-offset-3">
      <a class="btn btn-large btn-warning btn-block" style="margin-bottom: 20px;" href="register"><h4>Sign up for free</h4></a>
    </div>
  </div>

}