@maintemplate("About | Triple X Archery") {
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-warning">
        <div class="panel-heading">
          for Archers
        </div>
        <div class="panel-body">
          Etiam eu arcu massa. Quisque eu blandit diam. Quisque non iaculis dui, non porttitor lectus. Sed quis turpis velit. Vestibulum semper tellus vel nibh semper, sed lobortis odio varius. Nam rhoncus, turpis eu iaculis feugiat, orci elit viverra lectus, nec convallis nulla erat pulvinar nisl. Suspendisse magna ipsum, feugiat eget aliquam sit amet, bibendum et odio. Mauris vel ligula felis. Nam et tortor et massa varius aliquam.
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-warning">
        <div class="panel-heading">
          for Coaches
        </div>
        <div class="panel-body">
          Etiam eu arcu massa. Quisque eu blandit diam. Quisque non iaculis dui, non porttitor lectus. Sed quis turpis velit. Vestibulum semper tellus vel nibh semper, sed lobortis odio varius. Nam rhoncus, turpis eu iaculis feugiat, orci elit viverra lectus, nec convallis nulla erat pulvinar nisl. Suspendisse magna ipsum, feugiat eget aliquam sit amet, bibendum et odio. Mauris vel ligula felis. Nam et tortor et massa varius aliquam.
        </div>
      </div>
    </div>

  </div>
}