@(u: User, rounds: List[Round])

@template("View All Rounds") {
    <li><a href="@routes.Application.dashboard()"><span class="glyphicon glyphicon-user"></span> @u.firstname</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-cog"></span> Account</a></li>
    <li><a href="@routes.Application.logout()"><span class="glyphicon glyphicon-off"></span> Log out</a></li>
} {
    <div class="col-lg-8 col-lg-offset-2">
        <ol class="breadcrumb above-panel">
            <li><a href="@routes.Application.dashboard()">Dashboard</a></li>
            <li class="active">Rounds</li>
        </ol>


        <div class="panel panel-warning">
            <div class="panel-heading"><h2>Completed Rounds</h2></div>
            <div class="panel-body">

                <table class="table table-striped" id="rounds-table">
                    <tr>
                        <th class="col-md-4">Description</th>
                        <th class="col-md-2">Date</th>
                        <th class="col-md-1">Score</th>
                        <th class="col-md-1"></th>
                    </tr>
                        @for( r <- rounds ) {
                            
                            <tr>
                                <td><a href="@routes.Application.viewAllEnds(r.id)" target="_blank">@r.description</a></td>
                                <td>@r.date</td>
                                <td>@r.score</td>
								<td class="delete-round">
                                    <form action="@routes.Application.viewEndEditor(r.id)" method="GET" id="editButton">
               				    	    <input type="submit" class="btn btn-xs btn-warning" value="Edit" />
               				    	</form>
               				    </td>
                                <td class="delete-round">
                                    <form action="@routes.Application.deleteRound(r.id)" method="POST" id="deleteButton">
               				    	    <input type="submit" class="btn btn-xs btn-warning" value="Delete" />
               				    	</form>
               				    </td>
                            </tr>
                        }
                </table>

                <div class="text-center">
                    <p id="scroll-message">scroll down for more</p>
                    <a id="inifiniteLoader"><i class="fa fa-refresh fa-spin fa-3x"></i></a>
                </div>

                @if(false) {
                    <div class="alert alert-info alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        You have an incomplete round.
                    </div>
                }

            </div>
        </div>
    </div>

<script type="text/javascript">
    var count = 2;
    var hitEnd = false;
    $(window).scroll(function(){
    if (!hitEnd && ($(window).scrollTop() == $(document).height() - $(window).height())) {
        loadArticle(count);
        count++;
    }
    }); 

    function loadArticle(pageNumber) {
        $("#scroll-message").css('display', 'none');
        $('a#inifiniteLoader').show('fast');
        $.ajax({
            url: "/view-rounds/loadmore/" + pageNumber, 
            dataType: 'json',
            success: function(json_data){
                $('a#inifiniteLoader').hide('1000');

                for (var i = 0; i < json_data.rounds.length; i++) {
                    $("#rounds-table").append(formatRound(json_data.rounds[i].id,
                                                          json_data.rounds[i].description,
                                                          json_data.rounds[i].date,
                                                          json_data.rounds[i].score
                                                         ));
                }

                if (json_data.end) {
                    hitEnd = true;
                    $("#scroll-message").css('display', 'none');
                    $('a#inifiniteLoader').css('display', 'none');
                    $("#rounds-table").append("<tr><td colspan=\"4\"><p class=\"text-muted\">No more rounds.</p></td></tr>");
                } else {
                    $("#scroll-message").css('display', 'block');
                }
            }, error: function() {
                hitEnd = true;
                $('a#inifiniteLoader').css('display', 'none');
                $("#rounds-table").append("<tr><td colspan=\"4\"><p class=\"alert alert-danger\">Something went wrong.</p></td></tr>");
            }
        });
    return false;
    }

    function formatRound(id, desc, date, score) {
        var roundHtml=  "<tr>" +
                            "<td><a href=\"/round/" + id + "\" target=\"_blank\">" + desc + "</a></td>" +
                            "<td>" + date + "</td>" +
                            "<td>" + score + "</td>" +
                            "<td class=\"delete-round\">" +
                                "<form action=\"/delete/" + id + "\" method=\"POST\" id=\"deleteButton\">" +
                                    "<input type=\"submit\" class=\"btn btn-xs btn-warning\" value=\"Delete\" />" +
                                "</form>" +
                            "</td>" +
                        "</tr>";
        return roundHtml;
    }
    
    $(document).ready(function () {

        $(window).scroll(function () {
            if ($(this).scrollTop() > 100) {
                $('.scrollup').fadeIn();
            } else {
                $('.scrollup').fadeOut();
            }
        });

        $('.scrollup').click(function () {
            $("html, body").animate({
                scrollTop: 0
            }, 600);
            return false;
        });

    });
</script>

}
