@(u: User, rounds: List[Round])

@template(u.firstname) {
    <div class="col-lg-8 col-lg-offset-2">
    <div class="panel panel-warning">
    <div class="panel-heading"><h2>Completed Rounds</h2></div>
    <div class="panel-body">
    <table class="table table-striped">
        <tr>
            <th class="col-md-5">Description</th>
            <th class="col-md-2">Date</th>
            <th class="col-md-1">Score</th>
            <th class="col-md-1"></th>
        </tr>
            @for( r <- rounds ) {
                
                <tr>
                    <td><a href="@routes.Application.viewAllEnds(r.id)">@r.description</a></td>
                    <td>@r.date</td>
                    <td>@r.score</td>
                    <td style="text-align: right">
                        <form action="@routes.Application.deleteRound(r.id)" method="POST">
   				    	    <input type="submit" class="btn btn-warning" value="Delete" />
   				    	</form>
   				    </td>
                </tr>
        
            }
    </table>
    </div>
    </div>
    </div>
}