@(u: User, rounds: List[Round])

@template("View All Rounds") {
    <li><a href="@routes.Application.dashboard()"><span class="glyphicon glyphicon-user"></span> @u.firstname</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-cog"></span> Account</a></li>
    <li><a href="@routes.Application.logout()"><span class="glyphicon glyphicon-off"></span> Log out</a></li>
} {
    <div class="col-lg-8 col-lg-offset-2">
        <ol class="breadcrumb above-panel">
            <li><a href="@routes.Application.dashboard()">Dashboard</a></li>
            <li class="active">Rounds</li>
        </ol>


        <div class="panel panel-warning">
            <div class="panel-heading"><h2>Completed Rounds</h2></div>
            <div class="panel-body">

                <table class="table table-striped">
                    <tr>
                        <th class="col-md-4">Description</th>
                        <th class="col-md-2">Date</th>
                        <th class="col-md-1">Score</th>
                        <th class="col-md-1"></th>
                    </tr>
                        @for( r <- rounds ) {
                            
                            <tr>
                                <td><a href="@routes.Application.viewAllEnds(r.id)">@r.description</a></td>
                                <td>@r.date</td>
                                <td>@r.score</td>
                                <td style="text-align: right">
                                    <form action="@routes.Application.deleteRound(r.id)" method="POST" id="deleteButton">
               				    	    <input type="submit" class="btn btn-xs btn-warning" value="Delete" />
               				    	</form>
               				    </td>
                            </tr>
                        }
                </table>

                @if(true) {
                    <div class="alert alert-info alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        You have an incomplete round.
                    </div>
                }

            </div>
        </div>
    </div>
}