@(title: String)(navlinks: Html)(content: Html)

<!DOCTYPE html>
<html>
  <head>
    <title>@title | Triple X Archery</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="@routes.Assets.at("bootstrap/css/bootstrap.min.css")" rel="stylesheet" media="screen">
    <link href='http://fonts.googleapis.com/css?family=Faster+One|Economica:700' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" type="image/icon" href="@routes.Assets.at("images/favicon.ico")" />
    <link rel="stylesheet" href="@routes.Assets.at("style.css")" />
  </head>
  
  <body style="padding-top: 70px;">

   <nav class="navbar navbar-inverse navbar-fixed-top">
     <div class="container">
     	<a href="/" class="navbar-brand">
          <span style="font-family: 'Faster One', cursive; font-size: 36pt;">X X X </span>
          <span style="font-family: 'Economica', sans-serif; font-size: 18pt;">Archery</span>
      </a>

     	<button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
     		<span class="glyphicon glyphicon-list" style="color: #ec971f;"></span>
     	</button>

       	<div class="collapse navbar-collapse navHeaderCollapse">
       		<ul class="nav navbar-nav navbar-right">
            @navlinks
       		</ul>
       	</div>
     	</div>
   	</nav>
   	
    <div class="container">
    
        <div class="row">
   	            @content
   	    </div>
   	  
   	</div>

   		<!--<div class="navbar navbar-default navbar-fixed-bottom">
   			<div class="container">
   				<p class="navbar-text">Created by Yuki Pan</p>
   			</div>
   		</div>-->

    <script src="http://code.jquery.com/jquery-latest.min.js "></script>
    <script src="@routes.Assets.at("bootstrap/js/bootstrap.min.js")"></script>
  </body>
</html>